*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.navbar{
    height: 10vh;
    background-color: crimson;
    display: flex;
}
.logo{
    width: 20%;
    height: 100%;
}
h4{
    width: fit-content;
    border: 2px solid white;
    padding: 7px;
    margin-top: 15px;
    margin-left: 15px;
    color: white;
    border-radius: 27px;
}
.nlinks{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nlinks li{
    list-style: none;
}
.nlinks li a{
    text-decoration: none;
    color: white;
    font-size: large;
}
@media screen and (max-width:760px){
    .navbar{
        position: relative;
    }
    .nlinks{
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: crimson;
        flex-direction: column;
        clip-path: circle(70px at 90% -10%);
        -webkit-click-path: circle(70px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nlinks.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-click-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .line{
        height: 3px;
        width: 30px;
        background-color: white;
        margin: 5px;
    }
    .hamburger{
        position: absolute;
        top: 20px;
        right: 5%;
        cursor: pointer;
        z-index: 2;
    }
}